{% extends 'base.html.twig' %}

{% block title %}Seance{% endblock %}

{% block body %}
    <h1>Seance</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ seance.id }}</td>
            </tr>
            <tr>
                <th>Date_entrainement</th>
                <td>{{ seance.dateEntrainement ? seance.dateEntrainement|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type_seance</th>
                <td>{{ seance.typeSeance }}</td>
            </tr>
            <tr>
                <th>Durée</th>
                <td>{{ seance.duree ? seance.duree|date('H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_seance_index') }}">back to list</a>

    <a href="{{ path('app_seance_edit', {'id': seance.id}) }}">edit</a>

    {{ include('seance/_delete_form.html.twig') }}
{% endblock %}
