{% extends 'base.html.twig' %}

{% block title %}Objectif{% endblock %}

{% block body %}
    <h1>Objectif</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ objectif.id }}</td>
            </tr>
            <tr>
                <th>Valeur_cible</th>
                <td>{{ objectif.valeurCible }}</td>
            </tr>
            <tr>
                <th>Date_limite</th>
                <td>{{ objectif.dateLimite ? objectif.dateLimite|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Type_objectif</th>
                <td>{{ objectif.typeObjectif }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('app_objectif_index') }}">back to list</a>

    <a href="{{ path('app_objectif_edit', {'id': objectif.id}) }}">edit</a>

    {{ include('objectif/_delete_form.html.twig') }}
{% endblock %}
